*{
    /* border-color: #1d8cf8 !important; */
    outline: #1c1c2125 !important;
    /* overflow-x: hidden; */
}

body{
    /* background-color: #f1f1f1 !important; */
    background-color: white !important;
}

h3{
    color: #171941 !important;
}

 p{
     color: black !important;
 }

 